In [320]:
import pandas as pdw

In [341]:
import numpy as npy

In [322]:
car=pdw.read_csv('notebooks/quikr_car.csv')

In [323]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 21.0+ KB

In [6]:
car.shape

(892, 6)

backup=car.copy()

In [324]:
backup=car.copy()

In [9]:
backup.shape

(892, 6)

In [10]:
backup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 21.0+ KB

In [ ]:
#Clean

In [325]:
car['year']=car['year'].str.isnumeric()

In [326]:
car['year']=car['year'].astype(int)

In [327]:
car=car[car['Price']!="Ask For Price"]

In [328]:
car['Price']=car['Price'].str.replace(',','').astype(int)

In [329]:
car['kms_driven']=car['kms_driven'].str.replace(',','').str.split(' ').str.get(0)

In [330]:
car['kms_driven']=car['kms_driven'].str.replace('Petrol','30')

In [347]:
car['kms_driven']=car['kms_driven'].dropna()

In [317]:
car.shape

(857, 6)

In [334]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 857 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        857 non-null    object
 1   company     857 non-null    object
 2   year        857 non-null    int32
 3   Price       857 non-null    int32
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 26.8+ KB

In [351]:
car['kms_driven']=car['kms_driven'].dropna()

In [362]:
car['kms_driven']=car['kms_driven'].dropna().astype(int)

In [381]:
car['kms_driven']=car['kms_driven'].fillna(0).astype(int)

In [383]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 857 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        857 non-null    object
 1   company     857 non-null    object
 2   year        857 non-null    int32
 3   Price       857 non-null    int32
 4   kms_driven  857 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 26.8+ KB

In [385]:
car=car[~car['fuel_type'].isna()]

In [386]:
car['fuel_type']

0      Petrol
1      Diesel
3      Petrol
4      Diesel
6      Diesel
        ...
883    Petrol
885    Diesel
886    Petrol
888    Diesel
889    Diesel
Name: fuel_type, Length: 816, dtype: object

In [392]:
car['name']=car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [393]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai     1   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra     1  425000          40    Diesel
3         Hyundai Grand i10   Hyundai     1  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford     1  575000       36000    Diesel
6                 Ford Figo      Ford     1  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti     1  270000       50000    Petrol
885          Tata Indica V2      Tata     1  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota     1  300000      132000    Petrol
888            Tata Zest XM      Tata     1  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra     1  390000       40000    Diesel

[816 rows x 6 columns]

In [395]:
car.reset_index(drop=True)

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai     1   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra     1  425000          40    Diesel
2         Hyundai Grand i10   Hyundai     1  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford     1  575000       36000    Diesel
4                 Ford Figo      Ford     1  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti     1  270000       50000    Petrol
812          Tata Indica V2      Tata     1  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota     1  300000      132000    Petrol
814            Tata Zest XM      Tata     1  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra     1  390000       40000    Diesel

[816 rows x 6 columns]

In [396]:
car.describe()

        year         Price     kms_driven
count  816.0  8.160000e+02     816.000000
mean     1.0  4.117176e+05   46275.531863
std      0.0  4.751844e+05   34297.428044
min      1.0  3.000000e+04       0.000000
25%      1.0  1.750000e+05   27000.000000
50%      1.0  2.999990e+05   41000.000000
75%      1.0  4.912500e+05   56818.500000
max      1.0  8.500003e+06  400000.000000

In [400]:
car[car['Price']>6e6]

                   name   company  year    Price  kms_driven fuel_type
562  Mahindra XUV500 W6  Mahindra     1  8500003       45000    Diesel

In [402]:
car=car[car['Price']<6e6].reset_index(drop=True)

In [403]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai     1   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra     1  425000          40    Diesel
2         Hyundai Grand i10   Hyundai     1  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford     1  575000       36000    Diesel
4                 Ford Figo      Ford     1  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti     1  270000       50000    Petrol
811          Tata Indica V2      Tata     1  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota     1  300000      132000    Petrol
813            Tata Zest XM      Tata     1  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra     1  390000       40000    Diesel

[815 rows x 6 columns]

In [405]:
car.to_csv('Cleaned Car.csv')

In [ ]:
#Model

In [406]:
x=car.drop(columns='Price')
y=car['Price']

In [407]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
810    270000
811    110000
812    300000
813    260000
814    390000
Name: Price, Length: 815, dtype: int32

In [439]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train, y_test=train_test_split(x,y,test_size=0.2)

In [427]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [414]:
ohe =OneHotEncoder()
ohe.fit(x[['name','company','fuel_type']])

OneHotEncoder()

In [420]:
ohe.categories_

[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
        'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
        'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
        'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
        'Chevrolet Beat LS', 'Chevrolet Beat LT', 'Chevrolet Beat PS',
        'Chevrolet Cruze LTZ', 'Chevrolet Enjoy', 'Chevrolet Enjoy 1.4',
        'Chevrolet Sail 1.2', 'Chevrolet Sail UVA', 'Chevrolet Spark',
        'Chevrolet Spark 1.0', 'Chevrolet Spark LS', 'Chevrolet Spark LT',
        'Chevrolet Tavera LS', 'Chevrolet Tavera Neo', 'Datsun GO T',
        'Datsun Go Plus', 'Datsun Redi GO', 'Fiat Linea Emotion',
        'Fiat Petra ELX', 'Fiat Punto Emotion', 'Force Motors Force',
        'Force Motors One', 'Ford EcoSport', 'Ford EcoSport Ambiente',
        'Ford EcoSport Titanium', 'Ford EcoSport Trend',
        'Ford Endeavor 4x4', 'Ford Fiesta', 'Ford Fiesta SXi', 'Ford Figo',
        'Ford Figo Diesel', 'Ford Figo Duratorq', 'Ford Figo Petrol',
        'Ford Fusion 1.4', 'Ford Ikon 1.3', 'Ford Ikon 1.6',
        'Hindustan Motors Ambassador', 'Honda Accord', 'Honda Amaze',
        'Honda Amaze 1.2', 'Honda Amaze 1.5', 'Honda Brio', 'Honda Brio V',
        'Honda Brio VX', 'Honda City', 'Honda City 1.5', 'Honda City SV',
        'Honda City VX', 'Honda City ZX', 'Honda Jazz S', 'Honda Jazz VX',
        'Honda Mobilio', 'Honda Mobilio S', 'Honda WR V', 'Hyundai Accent',
        'Hyundai Accent Executive', 'Hyundai Accent GLE',
        'Hyundai Accent GLX', 'Hyundai Creta', 'Hyundai Creta 1.6',
        'Hyundai Elantra 1.8', 'Hyundai Elantra SX', 'Hyundai Elite i20',
        'Hyundai Eon', 'Hyundai Eon D', 'Hyundai Eon Era',
        'Hyundai Eon Magna', 'Hyundai Eon Sportz', 'Hyundai Fluidic Verna',
        'Hyundai Getz', 'Hyundai Getz GLE', 'Hyundai Getz Prime',
        'Hyundai Grand i10', 'Hyundai Santro', 'Hyundai Santro AE',
        'Hyundai Santro Xing', 'Hyundai Sonata Transform', 'Hyundai Verna',
        'Hyundai Verna 1.4', 'Hyundai Verna 1.6', 'Hyundai Verna Fluidic',
        'Hyundai Verna Transform', 'Hyundai Verna VGT',
        'Hyundai Xcent Base', 'Hyundai Xcent SX', 'Hyundai i10',
        'Hyundai i10 Era', 'Hyundai i10 Magna', 'Hyundai i10 Sportz',
        'Hyundai i20', 'Hyundai i20 Active', 'Hyundai i20 Asta',
        'Hyundai i20 Magna', 'Hyundai i20 Select', 'Hyundai i20 Sportz',
        'Jaguar XE XE', 'Jaguar XF 2.2', 'Jeep Wrangler Unlimited',
        'Land Rover Freelander', 'Mahindra Bolero DI',
        'Mahindra Bolero Power', 'Mahindra Bolero SLE',
        'Mahindra Jeep CL550', 'Mahindra Jeep MM', 'Mahindra KUV100',
        'Mahindra KUV100 K8', 'Mahindra Logan', 'Mahindra Logan Diesel',
        'Mahindra Quanto C4', 'Mahindra Quanto C8', 'Mahindra Scorpio',
        'Mahindra Scorpio 2.6', 'Mahindra Scorpio LX',
        'Mahindra Scorpio S10', 'Mahindra Scorpio S4',
        'Mahindra Scorpio SLE', 'Mahindra Scorpio SLX',
        'Mahindra Scorpio VLX', 'Mahindra Scorpio Vlx',
        'Mahindra Scorpio W', 'Mahindra TUV300 T4', 'Mahindra TUV300 T8',
        'Mahindra Thar CRDe', 'Mahindra XUV500', 'Mahindra XUV500 W10',
        'Mahindra XUV500 W6', 'Mahindra XUV500 W8', 'Mahindra Xylo D2',
        'Mahindra Xylo E4', 'Mahindra Xylo E8', 'Maruti Suzuki 800',
        'Maruti Suzuki A', 'Maruti Suzuki Alto', 'Maruti Suzuki Baleno',
        'Maruti Suzuki Celerio', 'Maruti Suzuki Ciaz',
        'Maruti Suzuki Dzire', 'Maruti Suzuki Eeco',
        'Maruti Suzuki Ertiga', 'Maruti Suzuki Esteem',
        'Maruti Suzuki Estilo', 'Maruti Suzuki Maruti',
        'Maruti Suzuki Omni', 'Maruti Suzuki Ritz', 'Maruti Suzuki S',
        'Maruti Suzuki SX4', 'Maruti Suzuki Stingray',
        'Maruti Suzuki Swift', 'Maruti Suzuki Versa',
        'Maruti Suzuki Vitara', 'Maruti Suzuki Wagon', 'Maruti Suzuki Zen',
        'Mercedes Benz A', 'Mercedes Benz B', 'Mercedes Benz C',
        'Mercedes Benz GLA', 'Mini Cooper S', 'Mitsubishi Lancer 1.8',
        'Mitsubishi Pajero Sport', 'Nissan Micra XL', 'Nissan Micra XV',
        'Nissan Sunny', 'Nissan Sunny XL', 'Nissan Terrano XL',
        'Nissan X Trail', 'Renault Duster', 'Renault Duster 110',
        'Renault Duster 110PS', 'Renault Duster 85', 'Renault Duster 85PS',
        'Renault Duster RxL', 'Renault Kwid', 'Renault Kwid 1.0',
        'Renault Kwid RXT', 'Renault Lodgy 85', 'Renault Scala RxL',
        'Skoda Fabia', 'Skoda Fabia 1.2L', 'Skoda Fabia Classic',
        'Skoda Laura', 'Skoda Octavia Classic', 'Skoda Rapid Elegance',
        'Skoda Superb 1.8', 'Skoda Yeti Ambition', 'Tata Aria Pleasure',
        'Tata Bolt XM', 'Tata Indica', 'Tata Indica V2', 'Tata Indica eV2',
        'Tata Indigo CS', 'Tata Indigo LS', 'Tata Indigo LX',
        'Tata Indigo Marina', 'Tata Indigo eCS', 'Tata Manza',
        'Tata Manza Aqua', 'Tata Manza Aura', 'Tata Manza ELAN',
        'Tata Nano', 'Tata Nano Cx', 'Tata Nano GenX', 'Tata Nano LX',
        'Tata Nano Lx', 'Tata Sumo Gold', 'Tata Sumo Grande',
        'Tata Sumo Victa', 'Tata Tiago Revotorq', 'Tata Tiago Revotron',
        'Tata Tigor Revotron', 'Tata Venture EX', 'Tata Vista Quadrajet',
        'Tata Zest Quadrajet', 'Tata Zest XE', 'Tata Zest XM',
        'Toyota Corolla', 'Toyota Corolla Altis', 'Toyota Corolla H2',
        'Toyota Etios', 'Toyota Etios G', 'Toyota Etios GD',
        'Toyota Etios Liva', 'Toyota Fortuner', 'Toyota Fortuner 3.0',
        'Toyota Innova 2.0', 'Toyota Innova 2.5', 'Toyota Qualis',
        'Volkswagen Jetta Comfortline', 'Volkswagen Jetta Highline',
        'Volkswagen Passat Diesel', 'Volkswagen Polo',
        'Volkswagen Polo Comfortline', 'Volkswagen Polo Highline',
        'Volkswagen Polo Highline1.2L', 'Volkswagen Polo Trendline',
        'Volkswagen Vento Comfortline', 'Volkswagen Vento Highline',
        'Volkswagen Vento Konekt', 'Volvo S80 Summum'], dtype=object),
 array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
        'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
        'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
        'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
       dtype=object),
 array(['Diesel', 'LPG', 'Petrol'], dtype=object)]

In [424]:
columns_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                      remainder='passthrough')

In [425]:
lr=LinearRegression()

In [429]:
pipe=make_pipeline(columns_trans,lr)

In [440]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [442]:
y_predit=pipe.predict(x_test)

In [443]:
y_predit

array([ 102627.88726029,  271713.09648855,  631160.21350015,
        376652.12973967,  312925.59933549,  216492.36302089,
       1010835.39465699,  182537.63643448,  379355.60305724,
        288767.81706998,  193569.86079921,  381484.171465  ,
         65441.59184346,  193009.88357194,  181756.60928096,
        657521.71455008,  395565.47016248,  188575.91184255,
        434221.20267986,  206917.5711147 ,  367504.10246921,
        364211.26753852,  227827.55682147,  276733.69627358,
        126657.39593568,  500333.57542173,  150202.97490659,
        241916.75435578,  369997.78127967,  430947.7917183 ,
        281318.30515183,  188952.50471469,  107905.08566683,
        271135.41677982,  468664.88521487,  242542.93655086,
        501328.84197121,  256884.80666792,  551260.90154835,
        711213.577736  ,  421155.14046798,  563517.65200553,
        265597.93706758,  233675.85382715,  428350.31955531,
        249140.51681518,  431788.776214  ,  576826.74488487,
        538863.50183322,   86061.34145426,  430478.88796307,
        182018.01914366,  431461.30415127,  380010.5471827 ,
        408560.21581344,  173240.55719073,  471842.04898177,
        709903.68948507,  102073.53583094,  263330.36002356,
        433718.2952001 ,  150545.34067285,  590515.73247623,
        385555.63545346,  372442.62478651,  188264.81338295,
        252682.61516519,  456669.44743694,  188166.57176413,
        176231.84048083,  394532.36928846,  131820.22047879,
        421248.14053132,  215509.9468327 ,  249516.52152041,
         67733.89628258,  223515.12118822,  135495.86690882,
        315739.70393539,  703105.12769056,  430315.1519317 ,
        373868.61720645,  893447.62420464,  153327.81547778,
        244536.53085764,  283176.05144027,   81413.72848035,
        377476.24088922,  427821.50576649,  524386.35217244,
         88517.38192476,  553742.61093298,  100532.0660588 ,
        554830.75834809,  314102.34362173,  304236.5408001 ,
       2016328.92195499,  221684.19572627,  388801.60819064,
        192954.89543961,  187749.04488415,  193406.12476785,
        242152.84104655,  313283.6634649 ,  461007.16970459,
        383871.0671451 ,  361956.65731071,  189394.59199938,
        181788.78869974,   79921.24027804,  381156.69940226,
        422913.97661301,  192954.89543961,  189640.19604643,
        432116.24827673,  718840.15060399,  379752.00409348,
        252191.40707109,  101206.10567547,  280173.64571122,
       1650961.4947584 ,  251213.04746268,  456669.44743694,
        280827.09705774, 1227932.59834621,   67733.89628258,
        584209.46282829,  535929.74238375,  154637.70372871,
        155947.59197964,  989916.34373974,  169531.16248249,
        621783.55499387,  659991.94637661,  360932.30015142,
        226250.40321399,   57909.73440062,   61675.66312204,
         85570.13336017,  430937.04214995,  134840.92278335,
        563926.99208395,  183869.72860196,  431788.776214  ,
        311125.78630752,  212398.96223674,  414343.72156315,
        465838.03393078,  478825.2476148 ,  195410.9359101 ,
        336377.46132932,  224333.80134505,  313283.6634649 ,
         63640.49549843,  382302.85162183,   85766.61659781,
        221684.19572627,  454652.25221928,  173958.55542991,
       1768570.60484851,  391257.64866113,  421318.87649934,
        542564.28352562])

In [446]:
r2_score(y_test,y_predit)

0.6386322173784325

In [456]:
scores=[]
for i in range(10):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(columns_trans,lr)
    pipe.fit(x_train,y_train)
    y_pred=pipe.predict(x_test)
    scores.append(r2_score(y_test,y_pred))

In [457]:
scores

[0.6807994743313033,
 0.39032928825737667,
 0.6301122886248831,
 0.47923004017894455,
 0.7392315807386212,
 0.6227042549240915,
 0.5470931767272159,
 0.6094002277095184,
 0.6321506934692847,
 0.5610052979263385]

In [458]:
npy.argmax(scores)

4

In [455]:
scores[npy.argmax(scores)]

0.6447089893662674

In [463]:
 x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=npy.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(columns_trans,lr)
pipe.fit(x_train,y_train)
y_pred=pipe.predict(x_test)
r2_score(y_test,y_pred)

0.7392315807386212

In [464]:
import pickle

In [473]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [498]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2012,100000,'Diesel']], columns=['name','company','year','kms_driven','fuel_type']))

array([366866.63348578])